    body{
        font-family: Arial, Helvetica, sans-serif;
    }
       .main-nav {
           background-color: #f9f7f3;
       }

       a {
           font-size: 15px;
           color: #5e60ce;
           text-decoration: none
       }
       #selected{
        color: blue;
       }

       .rcorners1 {
        border-radius: 15px 50px;
        background: #cac4ce;
        padding: 10px;
        width: 150px;
        height: 150px;
      }
